@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: rgb(223, 223, 223);
    font-family: 'Roboto', 'Bradley hand', 'sans-serif';
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(40, 40, 199);
}
nav a:hover{
    background-color: cyan;
    color:darkcyan;
}
.book, .join{
    background-color: darkgoldenrod;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: chocolate;
    color: brown;
}
#background{
    background-color: lightgreen;
}
.msg{
    background-color: gold;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: dodgerblue;
    color: azure;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: greenyellow;
    font-family: 'Rock salt', 'Bradley hand', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: greenyellow;
    font-family: 'Rock salt', 'Bradley hand', 'sans-serif';
}
.msg h2{
    color: greenyellow;
    font-family: 'Rock salt', 'Bradley hand', 'sans-serif';
}
.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: chartreuse;
    text-decoration: none;
}
footer a:hover{
    color: antiquewhite;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p a:hover{
    font-size: 1.2em;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
#logo_link{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid lightgreen;
}
main section img{
    box-sizing: border-box;
}
.mountains{
    height: 500px;
}