nav{
    background-color: aqua;
    padding: 20px;
}
a{
    padding: 20px;
    text-decoration: none;
    text-align: center;
}
.desk{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(36, 35, 35);
    margin: 20px;
    border-radius: 200px;
}
.graphic{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(36, 35, 35);
    margin: 20px;
    border-radius: 200px;
}
.man{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(36, 35, 35);
    margin: 20px;
    border-radius: 200px;
}
#roundedpics{
    background-color: gray;
    width: 1280px;
}