body{
    text-align: center;
    background-color: white;
}
h2:hover{
    background-color: aqua;
    color: black;
}
p{
    color: black;
}
img{
    display: block;
    height: 20%;
    width: 20%;
    margin: 0 auto;
    border: 4px solid steelblue;
}
#target{
    color: black;
}
#top{
    color: black;
}
footer{
    background-color: steelblue;
}
footer p{
    padding: 25px;
    color: white;
}
h2{
    margin: 50px 0;
}
nav{
    background-color: steelblue;
    padding: 25px;
}
a{
    color: white;
    padding: 25px;
    text-decoration: none;
}